
body {
	background-color: white;
	/*background-color: #e1b681;*/
}
img[mainpage]{}

.tagLine {
	color: white;
	font-size: .4em;
	margin: 10px;
	text-decoration: underline;
}

.header1 {
	margin-top: -1.3em;
	height: 40px;
	background-image: url(./images/header1.jpg);

}
.header2 {
	height: 80px;
	background-image: url(./images/header2.jpg);
	background-size: 100%;
	width: 1425px;
}

.googleIcon {
	float: right;
	margin-top: .1cm;
	height: 50px;
	width: 100px;
	margin-right: -.15cm;
}



table {
	font-weight: bold;
	font-family: fantasy;
	font-size: 140%;
	border-color: black;
}

a {
	text-decoration: none;
	opacity: 1;
}

a:hover {
	border-bottom: 5px solid red; 
}

.homePageImage {
	width: 1200px;
	height: 550px;
	float: center;
	overflow: auto;
	/*padding-right: 450px;*/
}


.searchImage:hover {
	background-color: red;
}

.referalIcons {
	float: right;
	margin:  0 2px;
	width: 30px;
	height: 30px;
}